.center {
    margin: auto;
    width: 20%;
    padding: 10px;
    border: 1px solid gray;
    position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}
.plan_name{
	min-width: 100px;
	display: inline-block;
}

.plan_price{
  line-height: 30px;
	min-width: 100px;
	display: inline-block;
}
.plan_contain{
  line-height: 30px;
  min-height: 30px;
	width: 80%;
    margin: 0 auto;

}
.inner_contain{
	min-height: 10px
}
.button{
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;

}
.selected{
  line-height: 30px;
  height: 30px;
  color:red;
  display: inline-block;
}